.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background: white;
    padding: 3% 1%;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    width: fit-content;
    color: black;
    position: absolute;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  