.sidebar {
    width: 260px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 3rem 0;
    margin-right: 20px;
    background-image: url(/public/mesh-login.png);

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .sidebarContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between; // Adjust this to space-between to push logout to the bottom
        height: 100%; // Ensure this fills the entire sidebar

        .menuList {
            list-style-type: none;
            flex-grow: 1; // Takes all available space pushing everything else down

            .menuItem {
                border-radius: 5px;
                margin: 30px 0;
                cursor: pointer;
                transition: background-color 0.3s;

                a {
                    padding: 10px 40px;
                }

                &:hover {
                    background-color: #e0e0e0; // Hover background color applied to menuItem
                }

                &.active {
                    background-color: black; // Active background color applied to menuItem
                }

                .link {
                    text-decoration: none;
                    color: black; // Default color
                    display: block; // Make link fill the entire area of menuItem

                    &.active {
                        color: white; // Change text color to white when active
                        font-weight: bold;
                        background-color: black; 
                    }
                }
            }
        }

        .logout {
            padding: 10px 40px;
            text-decoration: none;
            color: red;
            font-weight: bold;
            display: block;
            cursor: pointer;
            margin-top: auto;
            text-align: center;
        }
    }
}
