body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url();
}

.container {
    /* padding: 20px 60px; */
}

.flex-container {
    display: flex;
    /* justify-content: space-between; */
}


.content {
    padding: 3% 3%;
}